.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 80px;
    justify-content: space-around;
}
.page {
    display: flex;
    flex-direction: column;
}
.button {
    border: 0;
    background-image: linear-gradient(
        150deg,
        rgb(11, 67, 78),
        rgb(28, 150, 159),
        rgb(26, 165, 175)
    );
    border-radius: 8px;
    color: #fff;
    display: column;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    margin-bottom: 10px;
}
.boton {
    background-color: white;
    border: 0px;
    outline: 0;
}
.span {
    background-color: rgb(31, 170, 180);
    padding: 1px 24px;
    border-radius: 6px;
    transition: 0.3s;
}


