#bgImage{
    width: 100%;
}

/*Intro*/
#presentation{
    padding: 3rem;
    align-items: center;
}

#presentation p{
    font-size: 18px;
}


/*Combos Servicios y Avisos*/
#csa{
    background-color: #75B3AC;
    text-align: center;
    color: white;
    padding:1rem
}

#csa h1{
    color: black;
    margin: 1.5rem;
}


/*Carrusel Combos*/
#comboCarr{
    width:auto;
    height: auto;
}

.comboSlide{
    text-align: center;
    font-size: 18px;
    background-color: #75B3AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comboSlide img {
    width: 30%;
    height: 30%;
    margin-bottom: 1rem;
}

.comboSlide p{
    margin-bottom: 1rem; 
}

.comboSlide button {
    margin-bottom: 2.8rem; 
}



/*Carrusel Servicios*/
#serviceCarr{
    width:100%;
    height: 100%;
    background-color: #75B3AC;
    border-radius: 1rem;
}

.swiper{
    padding-bottom: 25px;
}

.serviceSlide{
    text-align: center;
    font-size: 18px;
    background-color: #5f948e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceSlide img{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    margin: 1rem;

    background-color: #f3f3f3;
    padding: 15px;
}

.serviceSlide p{
    height: 10rem;
    width: 30rem;
    font-size: 1rem;
    margin-bottom: 14px; 
}

.serviceSlide h4{
    margin-top: 1rem;
}

.serviceSlide button {
    margin-top: auto;
    margin-bottom: 1.8rem;
    text-decoration: none;
    color: #fff;
    border-radius: 18px;
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: .5s;
    background: transparent;
    font-weight: bold;
}
.serviceSlide button:hover{
    background-color:  rgb(11, 67, 78);
}


/*Novedades*/
#whatsnew{
    color: rgb(68, 68, 68);
    background-color: #99EEFF;
    border-radius: 1rem;
    padding: 1rem;
 }
 



 