
 
.page-item.active .page-link .sr-only {
     display: none;
}

#introToServicesAdmin{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 0.5rem;
}
 
.addService{
     background-color: #0d59e6;
     border-radius: 1rem;
     border-color: white;
     color: white; 
}
 
.addService:hover {
     background-color: #6696ee;
     transition: 1s;
}
 
.custom-datatable {
     max-height: 550px; 
     overflow-y: auto; 
     overflow-x: hidden; 
}
 
.compra-cell{
     color: rgb(16, 134, 212);
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
     text-transform: capitalize;
     font-weight: bold; 
}
 
.venta-cell{
     color: rgb(255, 123, 0);
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
     text-transform: capitalize;
     font-weight: bold; 
}

.se-busca-cell{
     color: rgb(16, 192, 139);
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
     text-transform: capitalize;
     font-weight: bold; 
}

.clasificadoDeleteBut {
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
  
.clasificadoDeleteBut:hover {
    color: rgb(255, 0, 0);
    transition: 1s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
