.internetContainer{
    /* background-image: url("/src/assets/Fondos/internet-service.png"); */
    background-size: cover; 
    text-align: center;
    font-size: larger;
    padding: 3rem;
}

#internetInfo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}

.internetCards{
    justify-content: center;
}