*{
   font-family: 'Montserrat', sans-serif;
}

#introToServicesAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.addService{
    background-color: #0d59e6;
    border-radius: 1rem;
    border-color: white;
    color: white; 
}

.addService:hover {
    background-color: #6696ee;
    transition: 1s;
}

.custom-datatable {
    max-height: 600px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.available-cell{
    color: rgb(127, 212, 16);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombreado negro */
    text-decoration: bold;
}

.unavailable-cell{
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombreado negro */
    text-decoration: bold;
}