.page-item.active .page-link .sr-only {
    display: none;
}


#introToServicesAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.addService {
    background-color: #0d59e6;
    border-radius: 1rem;
    border: 1px solid white;
    color: white;
    padding: 10px 20px; 
    cursor: pointer; 
}

.addService:hover {
    background-color: #6696ee;
}

.custom-datatable {
    max-height: 550px; 
    overflow-y: auto; 
    overflow-x: hidden; 
}

.dataTables_length {
    display: none;
  }


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 2px; 
  }
  
  .page-link {
    color: #007bff;
    background-color: #fff; 
    border: 1px solid #dee2e6; 
    border-radius: .25rem;
    padding: .375rem .75rem;
  }
  
  .page-link:hover {
    background-color: #007bff; 
    color: #fff; 
    border-color: #007bff; 
  }


.available-cell{
    color: rgb(127, 212, 16);
    text-shadow: 2px 2px 4px rgba(170, 165, 165, 0.1); 
    text-transform: capitalize;
    font-weight: bold; 
}

.unavailable-cell{
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(170, 165, 165, 0.1); 
    text-transform: capitalize;
    font-weight: bold; 
}

.serviceOptionBut {
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
  
.serviceOptionBut:hover {
    color: rgb(31, 87, 240);
    transition: 1s; 
}