.errorOrBanned {
    background-image: url("../../../public/rekt.png");
    background-size: cover; /* Hace que la imagen de fondo cubra toda la pantalla */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura al 100% de la ventana */
  }
  
  .errorOrBanned h1 {
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    color: white; /* Puedes ajustar el color del texto según tus preferencias */
  }
  
  .errorOrBanned button {
    margin-top: 20px; /* Espacio superior entre el texto y el botón */
    padding: 10px 20px; /* Ajusta el relleno del botón según tus preferencias */
  }