#servicesContainer{
    /* background-image: url("/src/assets/Fondos/services.jpg"); */
    background-size: cover; 
    text-align: center;
    padding: 3rem;
}

#generalInfo{
    font-size: larger;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
}

#filterContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.servicesFilter{
    margin: 0.7rem; 
}



