.serviceNowContainer {
    display: flex;
    background-image: url("https://mooka.ie/img/sliderimages/slider-services-background.jpg");
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: larger;
    padding-top: 1.8rem;
    color: white;
}

.serviceNowContainer h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    background-image: white;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    
}
.titleService{
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: hsla(0,0%,100%,.178);
    box-shadow: 0 8px 10px -6px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -3%;
    margin-right: -3%;
}


.serviceNowContainer p {
    font-size: 1rem;
}
#servicInfo {
    margin-top: 50px;
}

.serviceCards {
    display: flex;
    justify-content: center;
    width: 100%; 
}
.containerDescription {
    display: flex;
    justify-content: space-between; 
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.textoIzquierda {
    text-align: left;
    margin-right: 10%;   
}
.textoDerecha {
    text-align: left;
    margin-left: 10%;
}
