*{
    font-family: 'Montserrat', sans-serif;
 }

#titleAdminUsers{
    margin-top: 0.8rem;
}
 
.custom-datatable {
     max-height: 600px; 
     overflow-y: auto; 
     overflow-x: hidden; 
}
 
.user-cell{
     color: rgb(0, 58, 247);
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
     text-transform: capitalize;
}
 
.admin-cell {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-weight: bold; 
  }

.banned-cell{
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    text-transform: capitalize;
}

.contact_admin-cell{
    color: rgb(204, 0, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    text-transform: capitalize;
}

.userOptionBut {
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}
  
.userOptionBut:hover {
    color: rgb(31, 87, 240);
    transition: 1s;
}