.contentContact{
    background:  #0b3070;
    padding: 2.5rem;
}
.contact-container {
    background: #05011d63;
    color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem;
    box-shadow: 0 0 4px 0 rgb(244, 244, 244);
    margin-top: 50px;
}
.contact-title {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    text-align: center; 
    margin-bottom: -2px;
    margin-top: 60px;
}
.contact-info {
    flex-basis: 30%; 
    padding: 1rem;
}
.contact-detail {
    flex-basis: 60%; 
    padding: 1rem;
}
.contact-detail-options {
    font-size: 1.2rem;
    font-weight: bold;
}
.contact-form {
    padding: 1rem;
    background:  #0b3070;
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    background: white;
    color: #000000;
}
.contact-form h5{
    font-size: 1.2rem;
    font-weight: bold;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.0rem;
}
.buttonSubmit {
    width: 150px;
    background-color:  #05011d63;
    font-weight: bolder;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem
    
}
.buttonSubmit:hover {
    background-color: #00275a;
    box-shadow: 0px 0px 10px rgb(247, 245, 245);
}
.contact-label-text {
    text-align: center;
    font-size: 1.2rem;
}
