@import url('https://fonts.googleapis.com/css2? family= Fjalla+One & family= Josefin+Sans & family= Montserrat:ital,wght@0,200;0,400;0,600;1,500 & display= intercambio');
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(245, 8, 8); */
    position: fixed;
    z-index: 1000;
}

.options {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.options h5 {
    margin-left:4rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 111%;
}

.options h5:hover {
    border-bottom: 1px solid #16b9b1;
    transition: .5s;
}

.options button {
    border-radius: 10px;
    margin-left: 6rem;
    /* background-color: #ffffff;
    color: #000000; */
}

#logo{
    width: 200px;
    height: 60px;
}

#logoContainer{
    margin-left: 1.3rem;
}

.img {
    max-width: 42px;
    border-radius: 100%;
    margin-left: 3px;
    margin-bottom: 5px;
    background-color: transparent;
}

.ProfileBtn {
    background-color: rgba(245, 13, 13, 0);
    border-color: rgba(240, 248, 255, 0);
}

.userDropdown{
    margin: 0%;
}

.linkh5{
    color: black;
    text-decoration: none;
}

.button{
	background-color: #ffffff;
	border-radius: 8px;
	color:  #1faab4;
	display: flex;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	transition: .3s;
    margin-top: -5px;
    border-color: #1faab4;

}

.button span {
background-color:  #1faab4;
padding: 1px 24px;
border-radius: 6px;
transition: .3s;
border: transparent;
}

.button:hover span {
	background: none;
}

.button:active {
	transform: scale(0.9);
}
.trolley{
    margin-left: 15rem;
}
.ms-3 {
    margin-left: 0rem!important;
    margin-bottom: 4%;
}

.abajo{
    background-color: #000000;
    transition: .4s;
}
.button:hover {
	background-color: #1faab4;
    color: white;
}

.abajo  .linkh5{
    color: #1faab4;
    text-decoration: none;
}
.abajo .options{
    color: #1faab4;
}
.abajo .button{
    background-color:#16b9b1;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 4%;
}
