.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.options {
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
    color: rgb(196, 192, 192);
    align-items: center;
}

.options h5 {
    margin-left:2rem;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.options h5:hover {
    border-bottom: 1px solid white;
}

.options button {
    border-radius: 10px;
    margin-left: 2rem;
}

#logo{
    width: 280px;
    height: 90px;
}

.img {
    max-width: 50px;
    border-radius: 100%;
    margin-left: 5px;
}

.ProfileBtn {
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
}

.userDropdown{
    margin: 0%;
}