.streamingContainer{
    /* background-image: url("/src/assets/Fondos/streaming-service.png"); */
    background-size: cover; 
    text-align: center;
    font-size: larger;
    padding: 3rem;
}

#streamingInfo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}

.streamingCards{
    justify-content: center;
}