  .site{
  background-color: rgb(13, 105, 117);
  }
  .login-container {
    background-color: rgba(255, 239, 239, 0.473);
    background-size: cover;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .icono-grande {
    font-size: 5rem; 
  }
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.0rem;
  }
  
  .login-error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .login-button {
    width: 150px;
    background-color: rgb(28, 120, 213);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
  }
  .login-button:hover {
    background-color: rgb(20, 82, 148); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
  }
  .label-text {
    text-align: center;
    font-size: 1.3rem;
  }
  .text-noMenber{
    font-size: 0.9rem;
    font-weight: bold;
  }

  .disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }