.aguaContainer{
    /* background-image: url("/src/assets/Fondos/agua-service.jpg"); */
    background-size: cover; 
    text-align: center;
    font-size: larger;
    padding: 3rem;
}

#aguaInfo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}

.aguaCards{
    justify-content: center;
}