/* Modal.css */

/* Estilo para el contenedor principal del modal */
.modal-card11{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el encabezado del modal */
.modal-head11 {
  background-color: #007bff;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para el menú desplegable de filtros */
.filter-options {
  display: flex;
  align-items: center;
  margin-left: auto; 
  font-weight: 550;
}

.filter-options label {
  margin-right: 10px;
}

.filter-options select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

/* Estilo para el contenedor de contenido del modal */
.modal-content-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 20px;
}

/* Estilo para la sección de comentarios */
.comments-section {
  max-width: 100%;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  font-weight: 550;
}

/* Estilo para las reseñas individuales */
.review-item {
  border: 1px solid #dcdcdc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Estilo para el promedio de calificaciones */
.average-rating {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #007bff;
}

/* Estilo para el ícono de información */
.info-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

/* Estilo para el detalle dentro de las reseñas */
.detailP span {
  font-weight: 500; /* Hace que el contenido del span esté en negrita */
}

